<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title></title>
	<link rel="stylesheet" href="/css/uikit.min.css" type="text/css">
</head>
<body>
  
<div class="uk-navbar-container" uk-navbar>
	<div class="uk-navbar-left">
		<a href="/" class="uk-navbar-item uk-logo"></a>
		<a class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon uk-toggle="target: #menu"></a>
		<ul class="uk-navbar-nav uk-visible@s">
			<li><a href="/">Home</a></li>
			<li><a href="/articles/add">Add article</a></li>
		</ul>
	</div><!-- /uk-navbar-left -->
</div><!-- /uk-navbar-container -->

<div class="uk-container">
