<%- include partials/head %>

<div class="uk-container">
	<h1>Articles</h1>
	<ul class="uk-list uk-list-divider">
	<% articles.forEach(function(article){ %>
		<li>
			<a href="/articles/<%= article._id %>"><%= article.title %></a>
		</li>	
	<% })%>
	</ul>
</div><!-- /uk-container -->

<%- include partials/footer %>
